<!DOCTYPE html>
<html>
<title>Wooork Bois</title>
  <style>
.btn {
 
 font-family: comic sans ms;
  padding: 13px 28px;
  font-size: 16px;
  cursor: pointer;
}
 .bleen{
 background-color:#101d08;
 border-color:#00cc00;
 color: #00cc00;
 }
 .bleen:hover{
 
 background-color: #282828;
 
 color:#72CE78;
 }
.blue {
background-color:#000066;
  border-color: #1c5b7d;
 
  color: #6599FF;
}
 
.blue:hover {
  background-color: #1f4075;
  color:#6a85b1;
}
.pink{
background-color:#f20075;
  border-color: #9C0063;
 
  color: #FF6EB0;
  }
  
 .pink:hover{
  
  background-color:#800080;
  color:#FF0080;
  }

  p {
    font-family: "comic sans ms";
  }

  .importantStuff {
    color: "#660066";
    font-size: "20";

  }

  a {
    font-size: 25px;
  }
  
  div {
    opacity:0.8; 
    background-color:#FF1493; 
    border-radius: 15px;
    text-align:center;
  }

  body{
    background-image: url("http://www.photos-public-domain.com/wp-content/uploads/2015/01/hot-pink-knit-fabric-with-diamond-pattern-texture-600x400.jpg"); 
  }

  body:visited {
    color: "#ff00ff";
  }

  body:link {
    color: "#D693BD"; 
  }

  body:active {
    color: "#EFD3E7";
  }

  body:hover {
    color: "#EFD3E7";
  }
  
 
</style>
<body>

    <br>
    <br>
    <br>
<div id="woooork">
    <p class="importantStuff">Important Stuff</p>
    <br>
        <p><a href="https://www.currents4kids.com/"target="_blank">Currents4Kids</a></p>
    <br>
        <p><a href="https://google.yrdsb.ca/LoginFormIdentityProvider/Login.aspx?ReturnUrl=%2FLoginFormIdentityProvider%2FDefault.aspx"target="_blank">GAPPS Login</a></p>
    <br>
    <p><a href="https://www.getepic.com/students"target="_blank">Epic Books</a></p>
    <br>
    <p><a href="https://www.noredink.com/login"target="_blank">NoRedInk</a></p>
    <br>
</div>

<button onclick="togglewoooork()" style="opacity:0.15">.</button>
<div id="StrikeWork">

<p class="importantStuff">>Work</p>
    <br>
     <a><a href="https://www.coolmathgames.com/0-worlds-hardest-game"target="_blank">World's Hardest Work</a></p>
    <br>
    <a><a href="https://jcw87.github.io/c2-sans-fight/"target="_blank">Bad Time Work</a></p>
    <br>
    <p><a href="https://play.pokemonshowdown.com/"target="_blank">PKMN Work</a></p>
    <br>
    <p><a href="https://www.mcleodgaming.com/games/ssf2"target="_blank">SSF2 Work</a></p>
    <br>
    <p><a href="https://armorgames.com/play/2407/karoshi-suicide-salaryman"target="_blank">Kshi Work</a></p>
</div>
<br>
<button class="btn bleen" onclick="window.location.href='BlackandGreen.ejs'">Bleen</button>
    <button class="btn blue" onclick="window.location.href='Blue.ejs'">Blue</button>
    <button class="btn pink" onclick="window.location.href='Pink.ejs'">Pink</button>

</body>
 
<script>
function togglewoooork() {
  var x = document.getElementById("StrikeWork");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
</html>